@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@700&family=IBM+Plex+Sans+Devanagari:wght@700&family=Oswald:wght@700&family=Prompt:wght@700&family=Rubik:ital,wght@1,700&display=swap");

* {
  letter-spacing: 1px;
  /*REMOVES UGLY BACKGROUND CLICK EFFECT ON SAFARI MOBILE 
REMEMBER FOR FUTURE PROJECTS. CLUTCH,*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: rgb(249, 247, 248);
  background: radial-gradient(
    circle,
    rgba(249, 247, 248, 1) 12%,
    rgba(199, 199, 199, 1) 93%,
    rgba(190, 186, 186, 1) 100%
  );
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: "Prompt", cursive;
  font-weight: 700;
  font-size: 25px;
}
button {
  background: none;
  border: 0;
}
/*********************************/

/* Header and Nav */

/*******************************/

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100vw;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  background: whitesmoke;
  background-image: url("fluid.gif"), url("neon.gif");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: initial, left;
  background-blend-mode: overlay, screen;
  opacity: 0.98;
  box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0 10px 0px 0px #c1372a, 0 10px 0px 8px #d9b94b,
    0 10px 0px 16px #20a4a3, 0 10px 5px 19px rgb(92, 92, 92);
  z-index: 3;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav {
  position: fixed;
  background: whitesmoke;
  background-image: url("fluid.gif"), url("neon.gif");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: initial, left;
  background-blend-mode: overlay, screen;
  opacity: 0.98;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 150%; /* CHANGE TO 100% TO SEE PAGE */
  transform: translateX(0);
  transition: transform 500ms;
  box-shadow: 0 0px 50px 1px rgb(127, 127, 127);
  border-radius: 30px;
}

.nav-buttons {
  display: flex;
}
.navigation-open {
  transform: translateX(-95%);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  margin-top: 4rem;
}
.logo {
  /* set the width to px*/
  width: 200px;
  display: inline-block;
  border-bottom: #b75f7c 5px;
  opacity: 0.8;
}

.open-game {
  font-family: "FontAwesome";
  margin: 0;
  padding: 0;
  border: 0;
  padding-top: 10px;
  background: 0;
  color: #800a32;
  cursor: pointer;
  font-size: 2.5em;
  transition: ease-in 180ms;
}

.open-game:hover {
  opacity: 0.7;
  transition: ease-in 170ms;
}

.open-nav {
  margin: 0;
  border: 0;
  padding: 0;
  margin-left: 2rem;
  padding-right: 0.9rem;
  background: 0;
  color: #800a32;
  cursor: pointer;
  font-size: 2.8em;
  transition: ease-in 180ms;
}
.open-nav:hover {
  opacity: 0.5;
  transition: ease-in 170ms;
}
.close-nav {
  color: #7d7d7d;
  border: 0;
  background: 0;
  cursor: pointer;
  padding: 0.5em;
  font-size: 4em;
  position: absolute;
  right: auto;
}

#link-item1 {
  color: #800a32;
  opacity: 0.7;
}
#link-item2 {
  color: #800a32;
  opacity: 0.7;
}
#link-item3 {
  color: #800a32;
  opacity: 0.7;
}
#link-item4 {
  color: #800a32;
  opacity: 0.7;
}

/********************************/

.rotate {
  animation: spin 650ms ease, fadeIn 500ms ease-in;
}

.fadeIn {
  animation: fadeIn 500ms ease-in;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
    -moz-transform-origin: 50% 50%;
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    -webkit-transform-origin: 50% 50%;
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);

    transform-origin: 50% 50%;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/*************************
**************************
*****MEDIA QUERYS**********
**************************
*************************
************************
************************/

/* Header and Nav */

@media (min-width: 800px) {
  .open-nav,
  .close-nav {
    display: none;
  }
  nav ul {
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    width: 90%;
  }
  .nav {
    position: initial;
    background: initial;
    box-shadow: none;
  }
  header {
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    padding-top: 0;
    padding-bottom: 0;
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(193, 193, 193, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0 10px 0px 0px #c1372a, 0 10px 0px 8px #d9b94b,
      0 10px 0px 16px #20a4a3, 0 10px 5px 19px rgb(124, 124, 124);
  }

  .nav-list {
    flex-direction: row;
  }

  .logo {
    width: 160px;
    margin-left: 1rem;
  }

  a {
    font-size: 22.5px;
    text-align: center;
  }

  .open-game {
    display: none;
  }
}

/************************************************
***************** G R I D **********************
***********************************************/

main {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
  grid-column-gap: 2em;
  background-color: gray;
  background-image: none;
}

/************** IMAGE SLIDE SHOW*************
***************************************/

.imageGallery {
  grid-column: 1 / 4;
  background: #800a32;
  opacity: 0.98;
  width: 100%;
}

.mySlides {
}
.section1-img {
  display: flex;
  grid-column: 1 / 4;
  width: 100%;
}

.imageGallery-border {
  position: static;
  display: flex;
  grid-column: 1 / 4;
  border: 0;
  box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0 9px 0px 4px #d9b94b, 0 5px 0px 8px #20a4a3,
    0 10px 0px 10px #c1372a, 0 10px 10px 13px rgb(124, 124, 124);
  z-index: 2;
}

/**********GRID MEDIA QUERIES**********/
@media (min-width: 800px) {
  main {
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 1500px) minmax(1em, 1fr);
    max-width: 100%;
    background-color: #800a32;
  }

  .imageGallery {
    grid-column: 2 / 3;
    object-fit: fill;
  }
  .section1-img {
    width: 100%;
  }
}
/******** SOCIAL ICON BAR ***********
*************************************/

.socials {
  position: relative;
  grid-column: 1 / 4;
  text-align: center;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 1.7rem;
  padding-bottom: 0.2rem;
  width: 100vw;
  margin-top: 0.2rem;
  margin-bottom: 2.3rem;
  background-image: linear-gradient(
    191deg,
    rgba(185, 165, 174, 1) 43%,
    rgba(128, 10, 50, 1) 59%,
    rgba(179, 189, 206, 1) 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.7;
}

.fa-spotify {
  border: 0;
  background: none;
  font-size: 50px;
  transition: ease 200ms;
}

.fa-spotify:hover {
  color: #800a32;
}

.fa-instagram {
  border: 0;
  background: none;
  font-size: 50px;

  transition: ease 200ms;
}

.fa-instagram:hover {
  color: #800a32;
}

.fa-facebook-f {
  border: 0;
  background: none;
  font-size: 50px;

  transition: ease 200ms;
}
.fa-facebook-f:hover {
  color: #800a32;
}

.fa-itunes {
  border: 0;
  background: none;
  font-size: 55px;
  transition: ease 200ms;
}

.fa-itunes:hover {
  color: #800a32;
}

/******UPCOMING SHOWS***************/

.upcoming-shows {
  margin: 0 auto;
  margin-top: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
}

.shows-header-box {
  margin: 0 auto;
  background-image: linear-gradient(
    191deg,
    rgba(185, 165, 174, 1) 2%,
    rgba(128, 10, 50, 1) 59%,
    rgba(179, 189, 206, 1) 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.shows-header-box h1 {
  font-family: "Prompt";
  letter-spacing: 10px;
  text-decoration: underline;
  font-size: 20px;
}
.background-socials-dates {
  width: 100vw;
  background: rgb(251, 251, 251);
  background: radial-gradient(
    circle,
    rgba(251, 251, 251, 1) 20%,
    rgba(201, 201, 201, 1) 73%,
    rgba(194, 194, 194, 1) 86%,
    rgba(173, 173, 173, 1) 100%
  );
}

.venues-and-dates {
  font-family: "Rubik", "Alexandria";
  font-style: italic;
  color: #aa5772;
}
