@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@700&family=IBM+Plex+Sans+Devanagari:wght@700&family=Oswald:wght@700&family=Prompt:wght@700&family=Rubik:ital,wght@1,700&display=swap");

* {
  letter-spacing: 1px;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: silver;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: "Alexandria", cursive;
  font-weight: 700;
  font-size: 25px;
}
/*********************************/

/* Header and Nav */

/*******************************/

header {
  display: flex;
  margin: 0 auto;
  width: 100vw;
  padding-top: 0.5em;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(193, 193, 193, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0 10px 0px 0px #c1372a, 0 10px 0px 8px #d9b94b,
    0 10px 0px 16px #20a4a3, 0 10px 5px 19px rgb(124, 124, 124);
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav {
  position: fixed;
  background: whitesmoke;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 150%; /* CHANGE TO 100% TO SEE PAGE */
  transform: translateX(0);
  transition: transform 500ms;
  box-shadow: 0 0px 100px 1px rgb(98, 98, 98);
  border-radius: 30px;
}
.navigation-open {
  transform: translateX(-95%);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  margin-top: 4rem;
}
.logo {
  /* set the width to px*/
  width: 200px;
  display: inline-block;
}

.open-game {
  font-family: "FontAwesome";
  margin: 0;
  margin-left: 25vw;
  border: 0;
  padding-top: 10px;
  background: 0;
  color: #800a32;
  cursor: pointer;
  font-size: 2.5em;
  transition: ease-in 180ms;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.open-game:hover {
  opacity: 0.7;
  transition: ease-in 170ms;
}

.open-nav {
  margin: 0;
  border: 0;
  background: 0;
  color: #800a32;
  cursor: pointer;
  padding-right: 0.6em;
  margin-left: auto;
  font-size: 2.8em;
  transition: ease-in 180ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.open-nav:hover {
  opacity: 0.5;
  transition: ease-in 170ms;
}
.close-nav {
  color: #7d7d7d;
  border: 0;
  background: 0;
  cursor: pointer;
  padding: 0.5em;
  font-size: 4em;
  position: absolute;
  right: auto;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#link-item1 {
  color: #800a32;
}
#link-item2 {
  color: #c1372a;
}
#link-item3 {
  color: #00737e;
}
#link-item4 {
  color: #dd8d06;
}

.rotate {
  animation: spin 650ms ease, fadeIn 700ms ease-in;
}

.fadeIn {
  animation: fadeIn 800ms ease-in;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
    -moz-transform-origin: 50% 50%;
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    -webkit-transform-origin: 50% 50%;
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);

    transform-origin: 50% 50%;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/*************************
**************************
*****MEDIA QUERYS**********
**************************
*************************
************************
************************/

/* Header and Nav */

@media (min-width: 650px) {
  .open-nav,
  .close-nav {
    display: none;
  }
  nav ul {
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    width: 90%;
  }
  .nav {
    position: initial;
    background: initial;
    box-shadow: none;
  }
  header {
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(193, 193, 193, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -200px -39px 400px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0 10px 0px 0px #c1372a, 0 10px 0px 8px #d9b94b,
      0 10px 0px 16px #20a4a3, 0 10px 5px 19px rgb(124, 124, 124);
  }

  .nav-list {
    flex-direction: row;
  }

  .logo {
    width: 160px;
    margin-left: 1rem;
  }
  a {
    font-size: 22.5px;
    text-align: center;
  }

  .open-game {
    display: none;
  }
}

/******* SECTION - TOP OF PAGE *****************
************************************************
***********************************************/

main {
  width: 100vw;
}
.about-section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px, 150px, 150px;
}
